@using PastaneMenuVeSiparis.VarlikKatmani
@model Kategori
@{
    ViewBag.Title = "Remove";
}

<div class="row">
    <div class="col-12">
        <h2>Kategori Sil</h2>
    </div>
</div>
<hr />
@using (Html.BeginForm("Remove", "Kategori", FormMethod.Post))
{
    <div class="row mb-3">
        <div class="col-12">
            @Model.Ad adlı kategoriyi silmek istiyor musunuz?
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-md-2 col-md-10">
            <a href="@Url.Action("List", "Kategori")" class="btn btn-danger">İptal</a>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </div>
}

