@using PastaneMenuVeSiparis.VarlikKatmani
@model Kategori
@{
    ViewBag.Title = "Update";
}

<div class="row">
    <div class="col-12">
        <h2>Kategori Güncelle</h2>
    </div>
</div>
<hr />
@using (Html.BeginForm("Update", "Kategori", FormMethod.Post))
{
    <div class="row mb-3">
        @Html.LabelFor(x => x.Ad, new { @class = "col-form-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Ad, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-md-2 col-md-10">
            <a href="@Url.Action("List", "Kategori")" class="btn btn-danger">İptal</a>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </div>
}

